#gallery
  h1 Image Gallery
  p
    a(href="https://github.com/djvirgen/virgen-gallery") Check out the code on github!

  .coverflow-container
    ul.coverflow
      li(ng-repeat="image in coverflowImages", ng-animate="'coverflow'", ng-class="coverflowClasses(image)")
        img(ng-src="{{ image.url }}", ng-click="show(image.id)")

  ul.player-controls
    li(ng-show="!isPlaying()"): a(ng-click="play()") Play
    li(ng-show="isPlaying()"): a(ng-click="stop()") Stop
    li: a(ng-click="previous()") &lt;&lt; Previous
    li: a(ng-click="next()") Next &gt;&gt;

  ul.thumbs
    li(ng-repeat="image in images")
      img(ng-src="{{ image.url }}", ng-class="{ current: $index == index }", ng-click="show($index)")
